body {
    justify-content: center; 
}


#container {
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h2 {
    letter-spacing: .25rem;
    text-transform: uppercase;
    background-color: #63AD63;
    color: white;
    padding: 5px;

}


input {
    border-color: #63AD63;
    border-style: solid;
    height: 36px;
  }

.inputContainer {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-evenly;
      width:  inherit;
      margin: 0 auto;
  }
